Rules for Python variables:
	A variable name must start with a letter or the underscore character
	A variable name cannot start with a number
	A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
	Variable names are case-sensitive (age, Age and AGE are three different variables)

In [1]:
a = 10
a

10

In [2]:
99guru = 800
99guru

SyntaxError: invalid decimal literal (1863843252.py, line 1)

In [3]:
_99 = 100
_99

100

In [4]:
__99 = 100
__99

100

In [5]:
_99Sachin = 400
_99Sachin

400

In [ ]:
sachin$ = 'Hello'
sachin$

In [ ]:
number = 10
print(number)

In [ ]:
name = "Sachin"
print(name)

In [ ]:
name = 100
print(name)

In [ ]:
name = 89.88
print(name)

In [ ]:
a=10;b=20;c=30
print(a,b,c)

In [ ]:
a,b,c = 100, 200, 300
print(a,b,c)

In [ ]:
a,b,c = "Sachin", 100, 34
print(a,b,c)

In [ ]:
a = b = c = "Pune"
print(a,b,c)

In [ ]:
# Dynamic Typing --> PHP, Python
# Static typing --> C CPP Java